/*Main style file*/
body {
    background-color: grey;
}

#name {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#of_games_text {
    color: darkviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#no_games_text {
    color: darkviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    color: aquamarine;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#publisher {
    color: crimson;
    font-family: unset;
}

#lower_part {
    background-color: black;
    padding-bottom: 0cm;
}

#icon {
    border-radius: 1mm;
    border: azure;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#python_download {
    background-color: black;
    padding: 1mm;
    text-align: center;
}

#py_dw_tx {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

#tos_py {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#py_dt {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.games_list {
    text-align: center;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

/*How to center a div
display: flex;
align-items: center;
justify-content:center;
*/