body {
    background-color: grey;
}

#name {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#of_games_text {
    color: darkviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#no_games_text {
    color: darkviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    color: aquamarine;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#publisher {
    color: crimson;
}
#lower_part {
    background-color: black;
    padding-bottom: 0cm;
}